body{
    font-family: 'Roboto', sans-serif;
    background-color: #EAF0F1;
}

/* navbar css starts here  */
.bg-light{
    background-color: #155bae!important;
}

.navbar-brand{
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    color: #fff!important;
	text-shadow: 0.04em 0.04em 0 #000, 0.08em 0.08em 0 #000;
}

.nav-link{
    color: #fff!important;
    font-family: 'Noto Sans JP', sans-serif;
	
}

.nav-link:hover{
    background-color: #fff;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(74,160,44)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
	border-radius: 5px;
}

.btn-info:hover{
    background-color: rgb(56,124,68)!important;
}